$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-error: "\e900";
$icon-error_outline: "\e901";
$icon-av_timer: "\e902";
$icon-library_add: "\e903";
$icon-not_interested: "\e904";
$icon-fiber_manual_record: "\e905";
$icon-playlist_add_check: "\e906";
$icon-add: "\e907";
$icon-add_circle: "\e908";
$icon-add_circle_outline: "\e909";
$icon-block: "\e90a";
$icon-clear: "\e90b";
$icon-remove: "\e90c";
$icon-remove_circle: "\e90d";
$icon-remove_circle_outline: "\e90e";
$icon-reply: "\e921";
$icon-access_time: "\e90f";
$icon-devices: "\e922";
$icon-attach_file: "\e910";
$icon-format_list_bulleted: "\e911";
$icon-format_list_numbered: "\e912";
$icon-keyboard_arrow_down: "\e913";
$icon-keyboard_arrow_left: "\e914";
$icon-keyboard_arrow_right: "\e915";
$icon-keyboard_arrow_up: "\e916";
$icon-apps: "\e917";
$icon-arrow_drop_down: "\e918";
$icon-arrow_drop_up: "\e919";
$icon-check: "\e91a";
$icon-arrow_left: "\e91b";
$icon-arrow_right: "\e91c";
$icon-account_circle: "\e91d";
$icon-home: "\e91e";
$icon-power_settings_new: "\e91f";
$icon-supervisor_account: "\e920";

