<div class="row bs-grid-table-row align-items-center">
	<div class="col-1 py-2 text-center id-col">
		{{ loop is defined ? loop.index : id }}
	</div>
	<div class="col-11 col-md py-2">
		{{- workplace.signature -}}
		&nbsp;
		<small class="text-muted font-weight-bolder">
			(Wolne terminy na dziś: 2)
		</small>
	</div>
	<div class="col-11 offset-1 col-md-4 offset-md-0 py-2">
		<div class="btn-group">
			<a href="/app/workplace/show/{{ workplace.id }}/" data-router class="btn btn-sm btn-success ">
				<i class="icon icon-format_list_bulleted"></i>
				Szczegóły
			</a>
			{% if is_adding_allowed %}
				<a data-router href="/app/workplace/edit/{{ workplace.id }}/" class="btn btn-sm btn-info ">
					<i class="icon icon-check"></i>
					Edytuj
				</a>
				<button class="btn btn-sm btn-danger ">
					<i class="icon icon-clear"></i>
					Kasuj
				</button>
			{% endif %}

		</div>
	</div>
</div>
